<div class="content-pane">
    <div class="message">
        <h1>Welcome to MOCN, Username</h1>
        <p>What would you like to get help with? Follow the key steps below to describe your issue.</p>
    </div>
    <div class="nav-pane">
        <div class="row">
            <span class="numbering">1</span>
            <!-- <div class="line-space">-</div> -->
            <span>Tell us more about the problem</span>
        </div>
        <div class="row">
            <span class="numbering">2</span>
            <!-- <div class="line-space"></div> -->
            <span>Briefly describe what happened before the issue occured</span>
        </div>
        <div class="row">
            <span class="numbering">3</span>
            <!-- <div class="line-space"></div> -->
            <span>Get Assistance</span>
        </div>
        <div style="padding: 4px;"></div>
        <div class="heading">
            <h2>Chat with us</h2>
            <!-- <p>Online</p> -->
        </div>
        <div class="chat">
            <button mat-button id="chat" routerLink="/">Close Chatbox</button>
        </div>
        <div style="padding: 4px;"></div>
        <div class="field">
            <div class="panel-cover">
                <div class="messages"></div>
            </div>
        </div>
        <div class="textfield">
            <input type="text" name="message" placeholder="Message">
            <button type="submit">Send</button>
        </div>
    </div>
</div>