<div class="container">
    <div class="salutation">
        <h2>Hi! How can we help you?</h2>
    </div>
    <div class="search">
        <form method="post" action="" enctype="multipart/form-data">
            <input type="search" name="search" placeholder="Search Keyword">
            <button mat-button type="submit">Go</button>
        </form>
    </div>
    <div class="card">
        <div class="card-item">
            <div class="card-list">
                <button mat-button routerLink="/">
                    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
                    <br>
                    Managing your account
                </button>
            </div>
            <div class="card-list">
                <button mat-button routerLink="/">
                    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
                    <br>
                    Payment/Subscriptions
                </button>
            </div>
            <div class="card-list">
                <button mat-button routerLink="/">
                    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
                    <br>
                    Contact Us
                </button>
            </div>
            <div class="card-list">
                <button mat-button routerLink="/reset">
                    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
                    <br>
                    Forgot Password
                </button>
            </div>
            <div class="card-list">
                <button mat-button routerLink="/about">
                    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
                    <br>
                    Help Center
                </button>
            </div>
            <div class="card-list">
                <button mat-button routerLink="/">
                    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
                    <br>
                    App info
                </button>
            </div>
        </div>
    </div>
</div>